mixin box
  .mt-20
    +box-info
    +current-info
    +test-history

mixin box-info
  .mt-20.ph-20(layout='row', layout-align='space-between center')
    .box-name
      span.label 盒号 
      span.content {{ vm.box.name }}
    .executions
      span.label 累计测试  
      span.content {{ vm.length }}
    .last-execution-name
      span.label 上一次测试 
      span.content {{ vm.box.lastExecution.testPlan }}
    .last-execution-result
      span.label 结果 
      span.content {{ vm.box.lastExecution.result }}

mixin current-info
  .mt-20.ph-20(ng-if='vm.box.currentExecution' layout='row', layout-align='space-between center')
    .current-status
      span.label 当前状态 
      span.content 测试中
    .current-test-plan
      span.label 测试计划 
      span.content {{ vm.box.currentExecution.testPlan }}
    .tester
      span.label 测试员 
      span.content {{ vm.box.currentExecution.tester }}
    .estimate-end-time
      span.label 预计结束 
      span.content {{ vm.box.currentExecution.estimateEndTime }}

mixin test-history
  table.dataTable.row-border.hover()
    thead
      tr
        th.secondary-text
          .table-header
            span.column-title 测试计划
        th.secondary-text
          .table-header
            span.column-title 测试员
        th.secondary-text
          .table-header
            span.column-title 结果
        th.secondary-text
          .table-header
            span.column-title 开始时间
        th.secondary-text
          .table-header
            span.column-title 结束时间
        th.secondary-text
          .table-header
            span.column-title 总步骤
    
    tbody(ng-repeat='execution in vm.boxes.execution.executions' ng-if="execution.eaBox._id == vm.box._id" )
      td {{ execution.testPlan.name }}
      td {{ execution.tester.name }}
      td {{ execution.result }}
      td {{ execution.startTime}}
      td {{ execution.endTime }}
      td {{ execution.steps }}

.md-headline.pv-20.pl-20 测试盒详情
  #test-box-detail(layout='column' flex='100')
    +box
