mixin box
  .mt-20
    +box-info
    +test-status
    +test-progress
    +wave

mixin box-info
  div.mb-5(layout="row")
    span.label 盒号
    span.content.pl-50 {{vm.new_execution_info.box.name}} 
    span.label.pl-100 测试计划 
    span.content.pl-50 {{vm.new_execution_info.testPlan.testName}}
    span.label.pl-100 测试员
    span.content.pl-50 {{vm.new_execution_info.tester.name}}

mixin test-status
  div.progress(ng-if='!vm.execution_steps_info.result', layout='column', layout-align='space-between')
    //- .mt-20.ph-20(layout='row', layout-align='space-between center')
    //-   .start-time
    //-     span.label 测试开始时间
    //-     span.content {{ vm.execution.startTime | dateTimeNearShortFarFull }}
    //-   //- .end-time(ng-if='execution.endTime')
    //-   //-   span.label 测试结束时间
    //-   //-   span.content {{ vm.execution.endTime | dateTimeNearShortFarFull }}
    //-   .estimate-end-time(ng-if='!execution.endTime')
    //-     span.label 预计测试结束
    //-     span.content {{ vm.execution.estimateEndTime | duration }}
    //-   .step-progress
    //-     span.label 进度
    //-     span.content {{ vm.execution.completedStepsCount }} /  {{ vm.execution.totalStepsCount }}

mixin test-progress
  .md-title.pv-20.pl-20 测试步骤进度

  .steps(layout='row' layout-wrap)
    .step.ph-10.pv-20.m-10.active(ng-repeat='step in vm.execution_steps_info.testInfo.steps' flex='20' layout='row' layout-align='space-between')
      .seq-no(flex='20') {{step.id}}
      .name.subhead(flex) {{step.name}}

  //- .steps(layout='row' layout-wrap)
  //-   .step.ph-10.pv-20.m-10(ng-repeat='step in vm.execution.steps' class="{{step.status}}" flex='20' layout='row' layout-align='space-between')
  //-     .seq-no(flex='20') {{step.id}}
  //-     .name.subhead(flex) {{step.name}}
  //-     .estimate-execution-time(flex='20' ng-if='step.status != "active"') {{step.estimateExecutionTime | duration }}
  //-     .estimate-end-time(flex='20' ng-if='step.status == "active"') {{step.estimateEndTime | duration }}

mixin wave
  span 波形图——待开发

.md-headline.pv-20.pl-20 测试执行详情
  #test-box-detail(layout='column' flex='100')
    +box
