mixin summary
  +info
  +progress
  +result

mixin info
  .mt-20.ph-20(layout='row', layout-align='space-between center')
    .box-name
      span.label 测试盒 
      span.content {{ vm.new_execution_info.box.name }}
    .test-plan
      span.label 测试计划 
      span.content {{ vm.new_execution_info.testPlan.testName }}
    .tester
      span.label 测试员 
      span.content {{ vm.new_execution_info.tester.name }}

mixin progress
  div.progress(ng-if='!vm.execution.result', layout='column', layout-align='space-between')
    .mt-20.ph-20(layout='row', layout-align='space-between center')
      +start-end
      .step-progress
        span.label 进度 
        span.content {{ vm.completedStepsCount }} /  {{ vm.totalStepsCount }}


mixin result
  div.progress(ng-if='vm.execution.result', layout='column', layout-align='space-between')
    .mt-20.ph-20(layout='row', layout-align='space-between center')
      +start-end
      .result
        span.label 结果 
        span.content {{ vm.execution.result }}

mixin start-end
  .start-time
    span.label 测试开始时间 
    span.content {{ vm.new_execution_info.startTime | dateTimeNearShortFarFull }}
  .end-time(ng-if='execution.endTime')
    span.label 测试结束时间 
    span.content {{ vm.new_execution_info.endTime | dateTimeNearShortFarFull }}
  .estimate-end-time(ng-if='!execution.endTime')
    span.label 预计测试结束 
    span.content {{ vm.estimateEndTime | duration }}


mixin step-progress
  .md-title.pv-20.pl-20 测试步骤进度
  //- TODO：驱动开发，模拟socket step-started消息的按钮
  md-button.md-raised.md-accent(ng-click='vm.mockSocketMessageStepStarted()') 驱动开发，模拟ea-box进入下一步 {{vm.execution.currentStep.name}}

  .steps(layout='row' layout-wrap)
    .step.ph-10.pv-20.m-10(ng-repeat='step in vm.execution_steps_info.testInfo.steps' class="{{step.status}}" flex='20' layout='row' layout-align='space-between')
      .seq-no(flex='20') {{step.id}}
      .name.subhead(flex) {{step.name}}
      .estimate-execution-time(flex='20' ng-if='step.status != "active"') {{step.estimateExecutionTime | duration }}
      .estimate-end-time(flex='20' ng-if='step.status == "active"') {{step.estimateExecutionTime | duration }}

mixin waveform
  .md-headline.pv-20.pl-20 波形图

//- ------------- 页面 -----------
.md-headline.pv-20.pl-20 测试执行详情
#test-execution-detail
  +summary
  +step-progress
  +waveform
